<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]--><!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]--><!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]--><!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" ng-app="newapp"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/angular-material.css" rel="stylesheet">
		<link href="/stylesheets/mdbootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/main.css" rel="stylesheet">
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>

	<% include templates/header %>

	<div flex style="background-color:white" layout-align="center center">
		<div class="coverPhoto" layout="column" layout-align="center center">
			<div layout="row">
				<h1 class="colorWhite">Welcome to our website!</h1>
			</div>
			<div layout="row">
				<h2 class="colorWhite">We are glad you are here !</h2>
			</div>
		</div>
		<div layout-gt-sm="row" layout="column" style="margin-top:100px;">
			<div layout="column" flex="50">
				<div layout-align="center center">
					<div class="imgDiv">
						<img class="iconsHome md-whiteframe-12dp resize" src="/images/tasks.png">
					</div>
					<div>
						<h2 class="iconTitles">Tasks</h2>
						<p class="description">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae </p>
					</div>
				</div>
				<div layout-align="center center">
					<div class="imgDiv">
						<img class="iconsHome md-whiteframe-12dp resize" src="/images/attach.png">
					</div>
					<div >
						<h2 class="iconTitles">Attachments</h2>
						<p class="description">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi arch</p>
					</div>
				</div>
			</div>
			<div layout="column" flex="50">
				<div layout-align="center center">
					<div class="imgDiv">
						<img class="iconsHome md-whiteframe-12dp resize" src="/images/chat.png">
					</div>
					<div>
						<h2 class="iconTitles">Chat</h2>
						<p class="description">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae </p>
					</div>
				</div>
				<div layout-align="center center">
					<div class="imgDiv">
						<img class="iconsHome md-whiteframe-12dp resize" src="/images/settings.png">
					</div>
					<div >
						<h2 class="iconTitles">Chat</h2>
						<p class="description">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi arch</p>
					</div>
				</div>
			</div>

		</div>
	</div>
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/tether.min.js" type="text/javascript"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/mdbootstrap.min.js"></script>
		<script src="/javascripts/site.js"></script>
		<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
		<script src="/javascripts/angular.min.js"></script>
		<script src="/javascripts/angular-aria.min.js"></script>
		<script src="/javascripts/angular-animate.js"></script>
		<script src="/javascripts/angular-material.min.js"></script>
		<script src="/javascripts/ng-messages.js"></script>
		<script src="/javascripts/mainApp.js"></script>
	</body>
</html>
