<% include templates/main.ejs%>
<% include templates/header %>


	<div flex style="background-color:white" layout-align="center center">
		<div class="coverPhoto" layout="column" layout-align="center center">
			<div layout="row">
				<h1 class="colorWhite">Welcome to our website!</h1>
			</div>
			<div layout="row">
				<h2 class="colorWhite">We are glad you are here !</h2>
			</div>
		</div>
		<div layout-gt-sm="row" layout="column" style="margin-top:100px;">
			<div layout="column" flex="50">
				<div layout-align="center center">
					<div class="imgDiv">
						<img class="iconsHome md-whiteframe-12dp resize" src="/images/tasks.png">
					</div>
					<div>
						<h2 class="iconTitles">Tasks</h2>
						<p class="description">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae </p>
					</div>
				</div>
				<div layout-align="center center">
					<div class="imgDiv">
						<img class="iconsHome md-whiteframe-12dp resize" src="/images/attach.png">
					</div>
					<div >
						<h2 class="iconTitles">Attachments</h2>
						<p class="description">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi arch</p>
					</div>
				</div>
			</div>
			<div layout="column" flex="50">
				<div layout-align="center center">
					<div class="imgDiv">
						<img class="iconsHome md-whiteframe-12dp resize" src="/images/chat.png">
					</div>
					<div>
						<h2 class="iconTitles">Chat</h2>
						<p class="description">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae </p>
					</div>
				</div>
				<div layout-align="center center">
					<div class="imgDiv">
						<img class="iconsHome md-whiteframe-12dp resize" src="/images/settings.png">
					</div>
					<div >
						<h2 class="iconTitles">Chat</h2>
						<p class="description">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi arch</p>
					</div>
				</div>
			</div>

		</div>
	</div>


<% include templates/main1.ejs %>