<% include templates/main.ejs %>


		<div id="login-page" class="container">

			<% if(hasErrors) {%>
			<% for(var i = 0; i < messages.length; i++) {%>
			<div class="alert alert-danger">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">
					&times;
				</a>
				<%= messages[i] %>

			</div>
			<% } %>
			<% } %>

			<h1>Login</h1>
			<form id="login-form" name="loginForm" method="post" class="well" action="/login">
				<div style="margin:75px auto;" flex-gt-sm="70" flex>
					<div layout="column" flex style="padding:20px; margin:auto"
						 class="md-whiteframe-14dp register-container"
						 flex-gt-xs="70"
						 flex-xs="100" flex-gt-sm="60" flex-gt-md="50" flex-gt-lg="40">


							<div layout="row">
								<h3 style="margin:auto	">Login</h3>
							</div>
							<div layout-fill class="register-input">

								<md-input-container id="email" class="md-block">
									<label>Email:</label> <input name="email"
																 required >
									<div ng-messages="loginForm.email.$error">
										<div ng-message="required">This field is needed !</div>
										<div ng-message="md-maxlength">Number of characters is too long
											!</div>
										<div ng-message="minlength">Number of characters is too short !</div>
									</div>
								</md-input-container>

								<md-input-container class="md-block"> <label>Password:</label>
									<input name="password" type="password"
										   required>
									<div ng-messages="loginForm.password.$error">
										<div ng-message="required">This field is needed !</div>
										<div ng-message="md-maxlength">Number of characters is too long
											!</div>
										<div ng-message="minlength">Number of characters is too shirt !</div>
									</div>
								</md-input-container>

								<div layout="column" layout-align="center center">

									<button type="submit" class="btn btn-info btn-round"
											ng-disabled="loginForm.$invalid">Login</button>
									<a href="/forgot">Forgot Your Password?
									</a>

								</div>

							</div>
					</div>
			</form>
				</div>


		</div>

		<div>

      	</div>

<% include templates/main1.ejs %>

