<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]--><!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]--><!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]--><!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Login - Akira</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="/stylesheets/site.css" rel="stylesheet">
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>
		<div id="login-page" class="container">

			<% if(hasErrors) {%>
			<% for(var i = 0; i < messages.length; i++) {%>
			<div class="alert alert-danger">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">
					&times;
				</a>
				<%= messages[i] %>

			</div>
			<% } %>
			<% } %>

			<h1>Login</h1>
			<form id="login-form" method="post" class="well" action="/login">
				<input type="text" class="span2" name="email" placeholder="Email" /><br />
				<input type="password" class="span2" name="password" placeholder="Password" /><br />
				<label class="checkbox"><input type="checkbox" name="remeberme"/> Remember me </label>
				<button type="submit" class="btn btn-primary">Sign in</button>
				<button type="submit" class="btn">Forgot Password</button>
			</form>
		</div>

		<div>
          	<h4 class="pull-right"><a href="/forgot">Forgot Your Password?</a></h4>
      	</div>

		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/site.js"></script>
	</body>
</html>
