<% include templates/main.ejs%>
<% include templates/header %>


				<div class="" style="margin-top: 60px; margin-left:50px; padding-top: 10px;">
					<h1>
						Task
					</h1>


					<div>
						<div id="multi" style="margin-left: 30px">
							<div><div data-force="5" class="layer title title_xl">Multi</div></div>

							<h1> <%= task.Summary %> </h1>

						</div>
					</div>


				</div>
			</div>
		</div>


<% include templates/main1.ejs %>