<nav class="navbar navbar-toggleable-md" style="position:fixed; width:100%;background-color:white; z-index:2; top:0">
    <div class="container" flex>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#" ui-sref="app.home" style="float:left">
            <strong>Project</strong>
        </a>
        <md-button hide-gt-md ng-controller="AppCtrl" ng-click="toggleLeft()" class="md-raised">
            Menu
        </md-button>
        <div class="collapse navbar-collapse" id="navbarNav1"  layout-align="end end">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a href="/login" class="nav-link">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="app.projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Chat</a>
                </li>
                <!--
                                <li class="nav-item dropdown btn-group">
                                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                                        <a class="dropdown-item">Action</a>
                                        <a class="dropdown-item">Another action</a>
                                        <a class="dropdown-item">Something else here</a>
                                    </div>
                                </li>
                -->
            </ul>
        </div>
    </div>
</nav>